@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
    position: absolute;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 13px;
    color: #fff;
    background: #000;
    user-select: none;
    pointer-events: none;
    z-index: 99999999;
    opacity: 0;

    &.show {
        animation: fadeIn 0.2s linear forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}